@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p class="fw-bold">This app created with ASP.NET Core MVC and Entity Framework Core in .NET10 </p>
    <p>This app is created using a tutorial from freeCodeCamp.org</p>
    <a href="https://www.youtube.com/watch?v=RWXKysImabs">link to the tutorial on YouTube</a>
</div>
